@import 'global.css';
@import 'normalize.css';
@import 'product-grid.css';
@import 'product.css';

.header {
    position: relative;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
}

.nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.nav__list {
	display: flex;
	align-items: center;
}

.nav__item:not(:last-child) {
	margin-right: 61px;
}